body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

.main__div {
  background-color: #7c83fd;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  color: whitesmoke;
  text-shadow: 5px 5px 20px #88fff7;
  font-size: 2.1rem;
  font-weight: 400;
}

h2 {
  text-align: center;
  color: #0c1f1e;
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 400;
  background: #7c83fd;
  box-shadow: inset 8px 8px 12px #4d519d, inset -8px -8px 12px #abb5ff;
  padding: 5rem;
}

textarea {
  padding: 10px;
  border-radius: 50px;
  background: #7c83fd;
  box-shadow: inset 8px 8px 12px #4d519d, inset -15px -15px 20px #abb5ff;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  border: none;
  outline: none;
  color: #151738;
  font-weight: 500;
  font-size: 1.5rem;
}

#btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: none;
  background-color: #96baff;
  border: none;
  box-shadow: 1px 1px 10px #88fff7, -2px -2px 10px #88fff7;
  transition: all 0.5s;
  color: whitesmoke;

  font-weight: bold;
  border-radius: 26px;
  background: linear-gradient(100deg, #858cff, #7076e4);
  box-shadow: 5px 5px 7px #5358aa, -5px -5px 7px #a5aeff;
}

#btn:hover {
  background-color: #5358aa;
  transition: all 0.5s;
}

#btn:active {
  box-shadow: inset 2px 2px 6px #5358aa;
}
